
.vs/AVT_Project/FileContentIndex/950b2fe9-7a9d-45ab-bdf1-1db2887f1a76.vsidx
.vs/AVT_Project/FileContentIndex/a590ab47-f27a-4bd3-9ba1-fcbde09d986d.vsidx
.vs/AVT_Project/v17/Browse.VC.opendb
.vs/AVT_Project/FileContentIndex/072506da-1691-498e-86b9-46b9ba421a01.vsidx
